<ion-view view-title="Fitness to Work">

	<ion-content class="fitness-to-Work">




        	<h3>Fitness to Work Assessment Form</h3>



<form name="assForm" ng-submit="submitForm(formData)">
	<div class="list">
  		<label class="item item-input">
    		<span class="input-label">Name of Employee</span>
    		<input type="text" placeholder="John Smith" ng-model="formData.q1">
  		</label>
  		<label class="item item-input">
    		<span class="input-label">Date of Assessment</span>
    		<input type="date" placeholder="16/04/16" ng-model="formData.q2">
  		</label>

  		<label class="item">
    		<span class="input-label">Reason for Assessment:</span>

    	<ion-radio name="q3" ng-model="formData.q3" ng-value="'Existing food handler'">Existing food handler</ion-radio>
 		 <ion-radio name="q3" ng-model="formData.q3" ng-value="'Pre-employment assessment'">Pre-employment assessment</ion-radio>
 		 <ion-radio name="q3" ng-model="formData.q3" ng-value="'Return to work after illness'">Return to work after illness</ion-radio>
 	</label>

  		<label class="item item-input item-select item-text-wrap">
    <div class="input-label">
      Have you suffered from diarrhoea and/or vomiting within the last 48 hours?
    </div>
    <select ng-model="formData.q4">
      <option ng-value="'Yes'">Yes</option>
      <option ng-value="'No'">No</option>
    </select>
  </label>


		<label class="item item-text-wrap">
    		<span class="input-label">At present are you suffering from:</span>
 		 <ion-checkbox ng-model="formData.q5" ng-value="'infected wounds, skin infections or sores'">infected wounds, skin infections or sores?</ion-checkbox>
  		<ion-checkbox ng-model="formData.q6" ng-value="'boils, styes or septic fingers'">boils, styes or septic fingers?</ion-checkbox>
  		<ion-checkbox ng-model="formData.q7" ng-value="'discharge from eye, ear or gums/mouth'">discharge from eye, ear or gums/mouth?</ion-checkbox>
		</label>

		<label class="item item-input item-select item-text-wrap">
    <div class="input-label">
      Have you ever had, or are you known to be a carrier of typhoid or paratyphoid?
    </div>
    <select ng-model="formData.q8">
      <option ng-value="'Yes'">Yes</option>
      <option ng-value="'No'">No</option>
    </select>
  </label>

	<label class="item item-input item-select item-text-wrap">
    <div class="input-label">
      In the last 21 days have you been in contact with anyone, at home or abroad, who may have been suffering from typhoid or paratyphoid?
    </div>
    <select ng-model="formData.q9">
      <option ng-value="'Yes'">Yes</option>
      <option ng-value="'No'">No</option>
    </select>
  </label>


	<label class="item item-input">
    		<span class="input-label">Action taken</span>
    		<input type="text" placeholder="Action Taken" ng-model="formData.q10">
  		</label>

  		<label class="item item-input">
    		<span class="input-label">Owner/Manager</span>
    		<input type="text" placeholder="John Smith" ng-model="formData.q11">
  		</label>

  		<label class="item item-input">
    		<span class="input-label">Date:</span>
    		<input type="date" placeholder="16/04/16" ng-model="formData.q12">
  		</label>

  		<button class="button button-full button-clear" ng-click="submit()" type="submit">
  		Submit
		</button>
	<br>
	<br>
	</div>
</form>

</ion-content>

</ion-view>
