<ion-view view-title="Hygiene Inspection">

  <ion-content>
      

    <h3 class="hygiene-Inspection">Hygiene of Food Rooms & Equipment</h3>


    <form name="hyInspForm" ng-submit="submitForm(formData)">
    
    <!-- COLUMNS BUT SELECT CHANGES
    <div class="row">
      <div class="col text-left col-80" style="font: inherit; font-size: 100%;">
        <p class="align-left">Are food rooms and equipment in good condition and well maintained?</p>
    </div>
      <div class="col text-right col-20">
        <select ng-model="mySelect1" ng-change="selectChoice(mySelect1)">
      <option>Yes</option>
      <option>No</option>
    </select>
      </div>
    </div> -->

    
    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
      Are food rooms and equipment in good condition and well maintained?
    </div>
    <select ng-model="mySelect1" ng-change="selectChoice(mySelect1)">
      <option>Yes</option>
      <option>No</option>
    </select>
  
  </label>

  <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
      Are food rooms clean and tidy and do staff clean as they go including difficult areas?
    </div>
    <select ng-model="mySelect2" ng-change="selectChoice(mySelect2)" >
      <option>Yes</option>
      <option>No</option>
    </select>
  
  </label>

  <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
      Is equipment easy to clean and kept in a clean condition?
    </div>
    <select ng-model="mySelect3" ng-change="selectChoice(mySelect3)" >
      <option>Yes</option>
      <option>No</option>
    </select>
  
  </label>
    
  
    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are all food and hand contact surfaces e.g. work surfaces, delivery areas, slicers, fridge handles, food probe, in good condition and cleaned/disinfected regularly?
    </div>
    <select ng-model="mySelect4" ng-change="selectChoice(mySelect4)" >
      <option>Yes</option>
      <option>No</option>
    </select>
  
  </label>

  <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are suitable cleaning chemicals available and stored correctly and are proper clean methods used?
    </div>
    <select ng-model="mySelect5" ng-change="selectChoice(mySelect5)" >
      <option>Yes</option>
      <option>No</option>
    </select>
  
  </label>

  <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are cleaning cloths suitable for use and regularly cleaned and disinfected and used properly?
    </div>
    <select ng-model="mySelect6" ng-change="selectChoice(mySelect6)" >
      <option>Yes</option>
      <option>No</option>
    </select>
  
  </label>
        

    </ion-list>


  <div class="hygiene-Inspection">
    <h3>Food Storage</h3>
  </div>

      <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are deliveries appropriately stored immediately?
    </div>
    <select ng-model="mySelect7" ng-change="selectChoice(mySelect7)" >
      <option>Yes</option>
      <option>No</option>
    </select>
    </label>


    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Is ready-to-eat food stored above/separate from raw food in the fridges and freezers?
    </div>
    <select ng-model="mySelect8" ng-change="selectChoice(mySelect8)" >
      <option>Yes</option>
      <option>No</option>
    </select>
    </label>

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Is food in fridges/freezers covered?
    </div>
    <select ng-model="mySelect9" ng-change="selectChoice(mySelect9)" >
      <option>Yes</option>
      <option>No</option>
    </select>
    </label>

      <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are high risk foods date coded, codes checked daily and stock rotated?
    </div>
    <select ng-model="mySelect10" ng-change="selectChoice(mySelect10)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are dried goods stored correctly e.g. in suitable room, off the floor, in covered containers?
    </div>
    <select ng-model="mySelect11" ng-change="selectChoice(mySelect11)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>
          
      <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are freezers working properly?
    </div>
    <select ng-model="mySelect12" ng-change="selectChoice(mySelect12)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>

      <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are fridges and freezers defrosted regularly?
    </div>
    <select ng-model="mySelect13" ng-change="selectChoice(mySelect13)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

    </ion-list>

  <div class="hygiene-Inspection">
    <h3>Food Handling Practices</h3>
  </div>

  <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are raw and ready-to-eat foods prepared in separate areas or are the work surfaces cleaned and disinfected between uses?
    </div>
    <select ng-model="mySelect14" ng-change="selectChoice(mySelect14)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Separate complex equipment (e.g. vacuum packing machines, food mixers, etc) are used for raw and ready-to-eat foods?
    </div>
    <select ng-model="mySelect15" ng-change="selectChoice(mySelect15)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are staff handling food as little as possible? (e.g. using tongs)
    </div>
    <select ng-model="mySelect16" ng-change="selectChoice(mySelect16)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     If colour coded equipment is provided (e.g. chopping boards), is it correctly used?
    </div>
    <select ng-model="mySelect17" ng-change="selectChoice(mySelect17)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are high risk foods prepared in small batches and returned to the fridge immediately after handling/preparation?
    </div>
    <select ng-model="mySelect18" ng-change="selectChoice(mySelect18)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Is food cooled as quickly as possible away from raw food and other sources of contamination?
    </div>
    <select ng-model="mySelect19" ng-change="selectChoice(mySelect19)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

     <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are ready to eat fruits/salads/vegetables trimmed and washed thoroughly?
    </div>
    <select ng-model="mySelect20" ng-change="selectChoice(mySelect20)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  
        
    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Is food on display screened from customers?
    </div>
    <select ng-model="mySelect21" ng-change="selectChoice(mySelect21)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are adequate clean utensils available for self service?
    </div>
    <select ng-model="mySelect22" ng-change="selectChoice(mySelect22)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>        

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are frozen foods defrosted safely?
    </div>
    <select ng-model="mySelect23" ng-change="selectChoice(mySelect23)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>          

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are controls in place to prevent contamination by chemicals/foreign bodies e.g. glass, packaging materials, bolts, rust, cleaning chemicals?
    </div>
    <select ng-model="mySelect24" ng-change="selectChoice(mySelect24)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>        

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are staff aware of food alergy hazards?
    </div>
    <select ng-model="mySelect25" ng-change="selectChoice(mySelect25)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>     

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are probe thermometers correctly used and cleaned/disinfected before and after use?
    </div>
    <select ng-model="mySelect26" ng-change="selectChoice(mySelect26)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>    

      
    </ion-list>
  <div class="hygiene-Inspection">
    <h3>Personal Hygiene</h3>
  </div>

  <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are staff fit to work, wearing clean, suitable protective clothing and following personal hygiene rules particularly hand washing?
    </div>
    <select ng-model="mySelect27" ng-change="selectChoice(mySelect27)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>    

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are wash hand basins clean with warm water, soap and hygienic hand drying facilities?
    </div>
    <select ng-model="mySelect28" ng-change="selectChoice(mySelect28)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>    

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are wash hand basins used for hand washing only and used regularly by staff?
    </div>
    <select ng-model="mySelect29" ng-change="selectChoice(mySelect29)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>    

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Are staff handling food as little as possible?
    </div>
    <select ng-model="mySelect30" ng-change="selectChoice(mySelect30)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>   

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Are staff toilets and changing facilities clean and tidy?
    </div>
    <select ng-model="mySelect31" ng-change="selectChoice(mySelect31)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

    </ion-list>


  <div class="hygiene-Inspection">
    <h3>Pest Control</h3>
  </div>

  <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Are premises pest proofed and free from any signs of pests?
    </div>
    <select ng-model="mySelect32" ng-change="selectChoice(mySelect32)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Where necessary are external doors/windows fitted with suitable flyscreens?
    </div>
    <select ng-model="mySelect33" ng-change="selectChoice(mySelect33)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label> 

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Are insectocutors (if provided) properly maintained?
    </div>
    <select ng-model="mySelect34" ng-change="selectChoice(mySelect34)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label> 

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Is food properly protected from risk of contamination by pests?
    </div>
    <select ng-model="mySelect35" ng-change="selectChoice(mySelect35)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>     
        
    </ion-list>

  <div class="hygiene-Inspection">
    <h3>Waste Control</h3>
  </div>
  
  <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Is waste in food rooms stored correctly?
    </div>
    <select ng-model="mySelect36" ng-change="selectChoice(mySelect36)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>     

     <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Is food waste stored correctly outside and is the refuse area kept clean?
    </div>
    <select ng-model="mySelect37" ng-change="selectChoice(mySelect37)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>    

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Is unfit food clearly labelled and stored separately from other foods?
    </div>
    <select ng-model="mySelect38" ng-change="selectChoice(mySelect38)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>   

    </ion-list>

  <div class="hygiene-Inspection">
    <h3>Checks and Record Keeping</h3>
  </div>

  <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Are all checks properly taken and recorded?
    </div>
    <select ng-model="mySelect39" ng-change="selectChoice(mySelect39)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>  

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Has appropriate corrective action been taken where necessary?
    </div>
    <select ng-model="mySelect40" ng-change="selectChoice(mySelect40)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>   

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Are record forms up-to-date, checked and verified?
    </div>
    <select ng-model="mySelect41" ng-change="selectChoice(mySelect41)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>   

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Are equipment time/temperature combinations specified and regularly cross-checked?
    </div>
    <select ng-model="mySelect42" ng-change="selectChoice(mySelect42)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>   

    </ion-list>

  <div class="hygiene-Inspection">
    <h3>Review (4 Weekly)</h3>
  </div>

  <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Any new suppliers and approved list updated?
    </div>
    <select ng-model="mySelect43" ng-change="selectChoice(mySelect43)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>   

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Any new menu items and steps in safe catering updated?
    </div>
    <select ng-model="mySelect44" ng-change="selectChoice(mySelect44)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>   

    <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
    Any new food handling methods or equipment and steps in safe catering updated?
    </div>
    <select ng-model="mySelect45" ng-change="selectChoice(mySelect45)" >
      <option>Yes</option>
      <option>No</option>
    </select>  
    </label>      
      
    </ion-list>

    <form name="hygForm">
    <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" placeholder="John Smith" ng-model="signData.name">
      </label>
      <label class="item item-input">
        <span class="input-label">Position</span>
        <input type="text" placeholder="Manager/Supervisor" ng-model="signData.position">
      </label>
      <label class="item item-input">
        <span class="input-label">Signed</span>
        <input type="text" placeholder="John Smith" ng-model="signData.sign">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" placeholder="16/04/16" ng-model="signData.date">
      </label>


      <label class="item item-text-wrap">

        Tick frequency checks carrried out by manager or supervisor:

      <ion-radio ng-model="signData.frequency" ng-value="'Weekly'">Weekly</ion-radio>
     <ion-radio ng-model="signData.frequency" ng-value="'Fortnightly'">Fortnightly</ion-radio>
     <ion-radio ng-model="signData.frequency" ng-value="'Monthly'">Monthly</ion-radio>
  </label>


      <button class="button button-full button-energized" ng-click="submit()" type="submit">
      Submit
    </button>
    </form>

  </ion-content>

</ion-view>