<ion-view view-title="HACCP Login" name="login-view">
  <ion-nav-bar>
  </ion-nav-bar>

    <ion-content class="padding">
        <div align='center'>
          <img src="img/logos/smalllogo.png">
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <button class="button button-positive button-clear button-full" ui-sref="app.hygiene">Temp Link to home(Avoids Login as server is off)</button>
        <button class="button button-block button-assertive" ng-click="login()">Sign In</button>
        <button class="button button-positive button-clear button-full" ui-sref="forgot">Forgotten Password?</button>
        <button class="button button-positive button-clear button-full" ui-sref="signup">Sign up!</button>

    </ion-content>
</ion-view>
