<ion-view view-title="Refrigeration Records">

  <ion-content>
    <div class="bar bar-header bar-calm">

        <div class="h1 title">Temperature Records</div>
       <button class="button button-icon icon ion-camera" ng-click="takePicture()"></button>
    </div>
    <br>
    <br>
    <div ng-show="toggle">
      <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" class="center">
      <label class="item item-input">
        <span class="input-label">Photo Comment</span>
        <input type="text" ng-model="fridge.photoComment">
      </label>
    </div>

    <br>
    <h4 class="center">Select a fridge and input temperature</h4>
    <br>
    <label class="item item-select item-text-wrap">
      <div class="input-label" style="width: 90%">
       Select Refridgerator
      </div>
      <select ng-model="fridge.name" >
        <option ng-repeat="unit in units">{{unit}}</option>
      </select>
    </label>

    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date" placeholder="16/04/16" ng-model="fridge.date">
    </label>

    <label class="item item-select">
  <div class="input-label" style="width: 90%">
    AM or PM
  </div>
  <select ng-model="fridge.timeAMPM" >
    <option ng-value="'AM'">AM</option>
    <option ng-value="'PM'">PM</option>
  </select>
</label>

          <label class="item item-input">
           <span class="input-label">Enter Temp</span>
      <input type="number" placeholder="0" ng-model="fridge.temp">
          </label>
          <button class="button button-full button-calm" type="submit" ng-click="submit()">

      Submit
    </button>



  </ion-content>

</ion-view>
