<ion-view>
    <!--view-title="Home"-->
    <ion-content>

        <tab-slide-box>
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <a href="javascript:;" class="ion-model-s"></a>
                    <a href="javascript:;" class="ion-asterisk"></a>
                    <a href="javascript:;" class="ion-document-text"></a>
                    <a href="javascript:;" class="ion-clipboard"></a>
                    <a href="javascript:;" class="ion-person"></a>
                    <a href="javascript:;" class="ion-medkit"></a>
                    <a href="javascript:;" class="ion-model-s"></a>

                </div>
            </div>
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
                
                <ion-slide>
                    <div class="food-delivery"><h3>Food Delivery Records</h3></div>
                    </ion-slide>

                <ion-slide>
                    <div class="refridgeration"><h3>Refrigeration Records</h3></div>
                </ion-slide>

                <ion-slide>
                    <div class="cook-reheat-records"><h3>Cooking/Cooling/Reheating Records</h3></div>
                </ion-slide>

                <ion-slide>
                    <div class="hot-Holding"><h3>Hot Holding/Display Records</h3></div>
                </ion-slide>

                <ion-slide>
                    <div class="hygiene-Inspection"><h3>Hygiene Inspection Checklist</h3></div>
                </ion-slide>

                <ion-slide>
                    <div class="hygiene-Training "><h3>Hygiene Training Records</h3></div>
                </ion-slide>

                <ion-slide>
                    <div class="fitness-to-Work"><h3>Fitness to Work Assessment Form</h3></div>
                </ion-slide>

                <ion-slide>
                    <div class="transport-and-Delivery"><h3>Transport and Delivery Record</h3></div>
                </ion-slide>

            </ion-slide-box>
        </tab-slide-box>

    </ion-content>
</ion-view>