<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!--<!-- Delivery Tab -->
     <!--<ion-tab title="Delivery" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/delivery">
       <ion-nav-view name="tab-dash"></ion-nav-view>
     </ion-tab>-->

    <!-- Refrigeration Tab -->
     <!--<ion-tab title="Refrigeration" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/Refrigeration">
       <ion-nav-view name="tab-chats"></ion-nav-view>
     </ion-tab>-->

    <!-- Cooking Tab -->
     <!--<ion-tab title="Cooking" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/cooking">
       <ion-nav-view name="tab-account"></ion-nav-view>
     </ion-tab>-->

    <!-- Hot Holding Tab -->
    <!--<ion-tab title="Hot Holding" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/hotHolding">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>-->

    <!-- Hygiene Tab -->
    <!--<ion-tab title="Hygiene" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>-->

    <!-- Fitness to Work Tab -->
    <!--<ion-tab title="Fitness to Work" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/fitness">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>-->

    <!-- Transport Tab -->
    <!--<ion-tab title="Transport" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/transport">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>-->

    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>



    <!--<ion-scroll direction="x" zooming="false" delegate-handle="horizontal">
        <a class="button icon icon-right " href="#/tab/account"> Facts</a>
        <a class="button icon icon-right " href="#/tab/account"> Facts</a>
        <a class="button icon icon-right " href="#/tab/account"> Facts</a>
        <a class="button icon icon-right " href="#/tab/account"> ert</a>
        <a class="button icon icon-right " href="#/tab/account"> Facts</a>
        <a class="button icon icon-right " href="#/tab/account"> fgh</a>
        <a class="button icon icon-right " href="#/tab/account"> dfg</a>
        <a class="button icon icon-right " href="#/tab/account"> Facts</a>
        <a class="button icon icon-right " href="#/tab/account"> Facts</a>
    </ion-scroll>-->

</ion-tabs>
