<ion-view view-title="Cooking/Cooling/Reheating">

  <ion-content class="cook-reheat-records">

    <h3> Cooking/Cooling/Reheating Records</h3>

      <form name="ccForm" ng-submit="submitForm(cookcoolForm)">
       <div class="list">

    <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" placeholder="16/04/16" ng-model="cookcoolForm.date">
      </label>

      <label class="item item-select item-text-wrap">
    <div class="input-label" style="width: 90%">
     Food Item
    </div>
    <select ng-model="cookcoolForm.food" >
      <option ng-repeat="food in foods">{{food}}</option>
    </select>
  </label>

  <div class="cook-reheat-records">
       <h3>Cooking</h3>
      </div>
      
    
    <div>
        <button class="align-left" type="button" ng-click="openTimePicker(1)">
        Time Started Cooking {{cookcoolForm.startTime}}
        </button>
    </div>

    <div>
        <button class="align-left" type="button" ng-click="openTimePicker(2)">
        Time Finished Cooking {{cookcoolForm.finishTime}}
        </button>
    </div>

      <label class="item item-input">
        <span class="input-label">Core Temp.</span>
        <input type="number" placeholder="0" ng-model="cookcoolForm.cookTemp">
      </label>

      <label class="item item-input">
        <span class="input-label">Sign</span>
        <input type="text" placeholder="" ng-model="cookcoolForm.cookSign">
      </label>

      <div class="cook-reheat-records">
       <h3>Cooling</h3>
      </div>

      <div>
        <button class="align-left" type="button" ng-click="openTimePicker(3)">
        Time Into Fridge {{cookcoolForm.fridgeTime}}
        </button>
    </div>

    <label class="item item-input">
        <span class="input-label">Sign</span>
        <input type="text" placeholder="" ng-model="cookcoolForm.coolSign">
      </label>

      <div class="cook-reheat-records">
       <h3>Reheating</h3>
      </div>

      <label class="item item-input">
        <span class="input-label">Core Temp.</span>
        <input type="number" placeholder="0" ng-model="cookcoolForm.reheatTemp">
      </label>

      <label class="item item-input">
        <span class="input-label">Sign</span>
        <input type="text" placeholder="" ng-model="cookcoolForm.reheatSign">
      </label>

      <label class="item item-input">
        <span class="input-label">Comments/Action</span>
        <input type="text" placeholder="" ng-model="cookcoolForm.comment">
      </label>

      <button class="button button-full button-clear" type="submit">
      Submit
    </button>
  
  </div>
</form>


  </ion-content>

</ion-view>
