ion-wheel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 360px;
  height: 360px;
  border-radius: 50%;
}

 #ionic-wheel {
  position: absolute;
  height: 360px;
  width: 360px;
  border-radius: 50%;
}

#ionic-wheel .circle.active {
  top: calc(50% - 25px) !important;
  left: calc(50% - 25px) !important;
  opacity: 0;
  transition-property: opacity, left, top;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  z-index: 9;

}
/* OUTSIDE TABS */
#ionic-wheel .circle {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  opacity: 1;
  transition-property: opacity, left, top;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}
/* CENTRE WHEEL */
 #ionic-wheel #activate {
 height: 100px;
 width: 100px;
 position: absolute;
 margin: 0 auto;
 transform: translate(-50%, -50%);
 top: 50%;
 left: 50%;
 border-radius: 50%;
 z-index: 10;
 opacity: 1;
 
}  

/*circle icons*/
 #ionic-wheel .circle a, #ionic-wheel #activate a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
} 

.ion-icon-training {
content: url('../img/trainingiconsmall.png') !important; }

.ion-icon-hygiene {
content: url('../img/hygieneiconsmall.png') !important; }

.ion-icon-fitness {
content: url('../img/fitnessiconsmall.png') !important; }

.ion-icon-transport {
content: url('../img/transiconsmall1.png') !important; }

.ion-icon-delivery {
content: url('../img/deliveryiconsmall1.png') !important; }

.ion-icon-refridgeration {
content: url('../img/fridgeiconsmall.png') !important; }

.ion-icon-temp {
content: url('../img/tempiconsmall.png') !important; }

.ion-icon-hothold {
content: url('../img/hothiconsmall.png') !important; }

.ion-icon-logo {
  content: url('../img/logos/logosmall.png') !important; }

.button-location{
 height: 50px;
 width: 50px;
 position: absolute;
 margin: 0 auto;
 transform: translate(-50%, -50%);
 top: 5%;
 left: 8%;
 border-radius: 50%;
 z-index: 10;
}